<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <!-- TODO:      REDERIGIR A MI PAGINA WEB -->
      <div class="flex flex-row items-center whitespace-nowrap absolute" href="https://ng.ant.design/" target="_blank">
        <div
          class="shrink-0 w-10 h-10 bg-linear-to-br from-blue-600 via-indigo-600 to-purple-600 rounded-xl flex items-center justify-center shadow-md shadow-blue-500/20">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="text-white">
            <path d="M12 2L2 7l10 5 10-5-10-5z" />
            <path d="M2 17l10 5 10-5" />
            <path d="M2 12l10 5 10-5" />
          </svg>
        </div>
        <h1>SKVIA - ASISTENCIA</h1>
      </div>
    </div>

    <!-- VERSION DE NZ-ZORRO -->
    <!-- <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          @if(auth.permissions().includes('Permissions.Dashboard.View')) {
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome">Welcome</a>
            </li>
          }
          @if(auth.permissions().includes(PERMISSIONS.Roles.View)){
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/roles">Roles</a>
            </li>
          }
          @if(auth.permissions().includes('Permissions.Users.View')){
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/users">Usuarios</a>
            </li>
          }
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul> -->

    <!-- NUEVA VERSION DINAMICA -->
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      @for (group of menu; track $index) {
      <li nz-submenu nzOpen [nzTitle]="group.title" [nzIcon]="group.icon">
        <ul>
          @for (item of group.children; track $index) {
          <li nz-menu-item nzMatchRouter *appHasPermission="item.permission">
            <a [routerLink]="item.link">{{ item.label }}</a>
          </li>
          }
        </ul>
      </li>
      }
    </ul>
    <!-- FIN DE LA VERSION -->

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
